streamlit
langchain-openai
langchain-community
langgraph
langchain-pinecone
pypdf
langchain-groq
langchain-google-genai
python-dotenv
youtube-search
wikipedia
youtube-search-python
langgraph-checkpoint-sqlite
pinecone>=5.0.0
